body {
    background: rgb(16, 0, 49);
    font: normal 15pt Arial;  
}

header{
    color:rgb(255, 255, 255);
    text-align: center;    

}

section {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 40px 40px 40px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    text-align: justify;
    height: auto;
}

pwa {
    color:rgb(255, 255, 255);
    text-align: center;
}

manifest {
    color:rgb(255, 255, 255);
    text-align: center;
}

cache {
  color:rgb(255, 255, 255);
  text-align: center;
}

codigo{
  color:rgb(255, 255, 255);
  text-align: center;
}

exemplos{
  color:rgb(255, 255, 255);
  text-align: center;
}

/* Container fixo no topo da tela */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px; /* Altura da linha azul */
  background: transparent; /* Fundo invisível para não tapar o site */
  z-index: 9999; /* Garante que fica por cima de tudo */
}

/* A linha azul que vai esticar */
.progress-bar {
  height: 100%;
  background-color: #15005c; /* Seu azul de preferência */
  width: 0%; /* Começa em 0% e o JavaScript altera isso */
  position: relative;
  transition: width 0.1s ease-out;
}

/* A bolinha na ponta da linha */
.progress-circle {
  position: absolute;
  right: -6px; /* Ajusta para ficar centralizada na ponta direita */
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: #15005c; /* Um azul mais escuro ou a mesma cor */
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}
